/* #24707a;
  --red: #fc145a; */
:root {
  --blue: #24707a;
  --red: #fc145a;
}
* {
  direction: rtl;
}
@font-face {
  font-family: "kolli";
  src: url("./components/assets/IRAN\ Sans\ Regular.ttf");
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0%;
  padding: 0%;
  font-family: kolli;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
.header {
  /* flex: 30%; */
  background-color: var(--blue);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__label {
  transition: all 0.3s;
  transform: translateY(0rem);
  color: white;
}

.form__input {
  padding: 1rem 1rem;
  border-radius: 0.2rem;
  border: none;
  margin: 0.5rem;
  transition: all 0.3s;
  vertical-align: middle;
  width: 200px;
}

.button-24 {
  background: #50c878;
  border: 1px solid #50c878;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: bolder;
  padding: 10px 14px;
  margin-bottom: 10px;
  /* text-align: center; */
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #50c878;
}

.button-24:active {
  opacity: 0.5;
}

.toDos {
  flex: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.group {
  margin: 10px;
  background-color: white;
  width: fit-content;
  color: var(--blue);
  border: var(--blue);
  border-style: dashed;
  border-radius: 8px;
  padding: 5px;
  justify-content: center;
  text-align: center;
}
.task {
  width: 80%;
  height: 50px;
  display: flex;
  color: white;
  margin: 15px;
}

.task .content {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .content span {
  display: grid;
  place-items: center;
  border: 1px solid white;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-right: none;
  background-color: var(--blue);
}

.task button {
  flex: 5%;
  height: 100%;
  border: none;
  background-color: #fc145a;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
  cursor: pointer;
}

#doneContainer span {
  background-color: gray;
}
